*{
  margin: 0%;
  padding: 0%;
  
}
@font-face {
  font-family: montserrat;
  src: url('./mutitimidia/montserrat.woff2');
}
h1{
  font-size: 25px;
}

h2{
  font-size: 18px;
}

nav.header-container{
  padding:  0.01%; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.538);
  /*box-shadow: 0px 0px 5px rgba(2,0,36,1) inset;*/
}

.header-logo{
  padding: 0.6% 1% 0;
  background-color: lightcyan;
}

div.default-layout{
  font-family: montserrat;
  position:absolute;
  width: 100%;
  height: 100%;

  /* background: linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,0.9613095238095238) 30%, rgba(0,212,255,1) 75%, rgba(255, 255, 255, 0.907) 100%); */
}
/*
main.container-principal{
  width: 60%;
  height: 80%;
  margin-top: 4%; 
  margin-left: 20%;
  position: absolute;
  box-shadow: 10px 15px 15px 10px rgba(0, 0, 0, 0.253);
  border-radius: 10%;
  border: 1px solid red;
} */

.container-img{
  width:50%;
  height: 100%;
  
}

#imgMotivacional{
  top: 0%;
  left: 0%;
  position: absolute;/*
  object-fit: cover; 
  animation: motivation 9s infinite; */
 
} 

/*
@keyframes motivation {
  0% {
    object-position: 15% 0%;
  }
  25% {
    object-position: 20% 0%;
  }
  90% {
    object-position: 90% 90%;
  }
} */

.container-principal{
  margin-top: 4%; 
  margin-left: 55%;
  width: 25%;
  height: 50%;
  position: absolute;
  background: linear-gradient(
    to bottom,
    hsl(30, 100%, 29%, 0.08),
    hsl(30, 100%, 39%, 0.05));
  border-radius: 5%;
  border: 1px solid hsl(30, 100%, 29%)
  
}


.boas-vindas{
  width:100%;
  height: 10%;
  padding-top: 5%;
  text-align: center;
  position: absolute;
} 

.entrada{
  width:100%;
  height: 70%;
  top: 16%;
  padding-top: 5%;
  line-height: 200%;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dados-login{
  line-height: 60px;
}

.cadastro, .dados-login{
  line-height: 60px;
  text-align: center;
}

.social-midia{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.footer-container{
  padding:  0.5rem 0; 
  border-top: 1px solid hsla(0,0%,100%,.1);
  width: 100%;
  bottom: 0%;
  position: fixed;
  display: block;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.253) inset;  
  background-color: rgba(255, 255, 255, 0.538);
}

.footer-develop{
  color: black;
  font-size: 12.64px;
  text-align: center;
  bottom: 0%; 
}

@media (max-width:900px){
  .container-img{
    display: none;  
  }
  #imgMotivacional{
    display: none;
  }

  div.default-layout{
    border: 1px solid red;
    background: linear-gradient(to top, #784e3d 0%, #ab8574 59%)
  }

  .container-principal{
    right: 15%;
    width: 70%;
    height: 55%;
    top: 5%;
  }
  
  .boas-vindas{
    padding-top: 10%;
  } 

}